main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 900px;
  margin: 40px auto;
  background: #f5f5f5;
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 22%;
  max-width: 22%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.8s ease;
  font-size: large;
}

main div:hover {
  transform: scale(1.2);
  z-index: 1;
}

.yellow {
  background-color: #fff475;
  transform: rotate(-4deg);
}

.green {
  background-color: #a8f0a2;
  transform: rotate(4deg);
}

.violet {
  background-color: #d3aefb;
  transform: rotate(-4deg);
}
